<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-list-header text-center>Principal</ion-list-header>
      <button ion-item menuClose *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
      <ion-list-header text-center>Rare Genomic Institute</ion-list-header>
      <button ion-item menuClose *ngFor="let p1 of rgiMenuItems" (click)="openPage(p1)">
        {{p1.title}}
      </button>
      <ion-list-header text-center>Settings</ion-list-header>
      <button ion-item menuClose *ngFor="let p2 of settingsMenuItems" (click)="openPage(p2)">
        {{p2.title}}
      </button>
      <ion-list-header text-center>Other option</ion-list-header>
      <button ion-item menuClose (click)="signOut()">
        Sign Out
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>